<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.commands">
    <command
      id="dependencyscan.eclipse.scan"
      name="Dependency Scan"
      categoryId="dependencyscan.eclipse.category"/>
    <category
      id="dependencyscan.eclipse.category"
      name="Dependency Scan"/>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="dependencyscan.eclipse.scan"
      class="dependencyscan.eclipse.handlers.ScanHandler"/>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <!-- Package Explorer only (avoid duplicate with Project Explorer) -->
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
      <command
        commandId="dependencyscan.eclipse.scan"
        label="Dependency Scan"
        icon="icons/scan.png"
        style="push">
        <visibleWhen checkEnabled="false">
          <and>
            <with variable="activePartId">
              <equals value="org.eclipse.jdt.ui.PackageExplorer"/>
            </with>
            <with variable="selection">
              <count value="1"/>
              <iterate>
                <or>
                  <adapt type="org.eclipse.core.resources.IContainer"/>
                  <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
                  <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
                  <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
                </or>
              </iterate>
            </with>
          </and>
        </visibleWhen>
      </command>
    </menuContribution>

    <!-- Project Explorer only -->
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <command
        commandId="dependencyscan.eclipse.scan"
        label="Dependency Scan"
        icon="icons/scan.png"
        style="push">
        <visibleWhen checkEnabled="false">
          <and>
            <with variable="activePartId">
              <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
            </with>
            <with variable="selection">
              <count value="1"/>
              <iterate>
                <or>
                  <adapt type="org.eclipse.core.resources.IContainer"/>
                  <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
                  <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
                  <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
                </or>
              </iterate>
            </with>
          </and>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>

  <extension point="org.eclipse.ui.views">
    <category
      id="dependencyscan.eclipse.category"
      name="Dependency Scan"/>
    <view
      id="dependencyscan.eclipse.reportView"
      name="Dependency Scan Report"
      category="dependencyscan.eclipse.category"
      class="dependencyscan.eclipse.views.ReportView"
      icon="icons/scan.png"/>
  </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page
      id="dependencyscan.eclipse.preferences"
      name="Dependency Scan"
      class="dependencyscan.eclipse.preferences.DependencyScanPreferencePage"/>
  </extension>
</plugin>
